/01 - Mystic Dream -Snow or Cherry Petal-.mp3
/02 - Paradise -Deep Mountain-.mp3
/03 - Crystallized Silver.mp3
/04 - The Fantastic Legend of Toono.mp3
/05 - Diao ye Zong [withered Leaf].mp3
/06 - The Doll Maker of Bucuresti.mp3
/07 - Doll Judgment -The Girl who Played with People's Shapes-.mp3
/08 - The Capital City of Flowers in the Sky.mp3
/09 - Ghostly Band -Phantom Ensemble-.mp3
/10 - Mystic Oriental Dream -Ancient Temple-.mp3
/11 - Hiroari Shoots a Strange Bird -Till When!-.mp3
/12 - Ultimate Truth.mp3
/13 - Bloom Nobly, Cherry Blossoms of Sumizome.mp3
/14 - Border of Life.mp3
/15 - Charming Domination.mp3
/16 - A Maiden's Illusionary Funeral -Necrofantasy-.mp3
/17 - Charming Domination -Who done it-.mp3
/18 - Necrofantasia.mp3
/19 - Dream of a Spring Breeze.mp3
/20 - Sakura, Sakura -Japanize Dream...-.mp3
